<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
        <style>
            p{
                color: #83A12B;
                border: 5px solid green; border-radius: 15px
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body style="background-color: black; color: white">
        <a href='{{ url_for("index1") }}'>log in</a>
        <h1 style='color: brown; background-color: rgba(499, 230, 200); padding-left: 50px; margin-top: 50px; font-size: 60px'>Hello</h1>
        <div class="column">
            <h2>Hello</h2>
            <h3>Hello</h3>
        </div>
        <div class="column">
            <h2>Hello</h2>
            <h3>Hello</h3>
        </div>
        <br>
        <br>
        <h4>Hello</h4>
        <h5>Hello</h5>
        <h6>Hello</h6>
        <p>My friend</p>
        <img src="https://th.bing.com/th/id/OIG.CO2sHWK_IEYIwzXsC2hX">
        <img src="{{ url_for('static', filename='images/euvisit.png') }}">
        <br>
    </body>
</html>